


.*
!.gitignore


### CMake stuff
#
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake


### XCode stuff
#
build
*.xcodeproj


### CodeBlocks stuff
#
Makefile
virtualAwesome.cbp
virtualAwesome.layout


### VisualStudio stuff
#
*.vcproj
*.vcproj.*
*.dir
virtualAwesome.ncb
virtualAwesome.sln
virtualAwesome.suo


### VirtualAwesome related
#
virtualAwesome.build
bin
touchkit-drag

# osx libs
freetype-osx
osg-osx
opencv-osx
dc1394-osx
sndfile-osx

# windows libs
freetype-win32
jpeg-win32
osg-win32
png-win32
zlib-win32
opencv-win32
flyCapture-win32
openal-win32
sndfile-win32

# linux libs
osg-linux
opencv-linux
dc1394-linux
openal-linux
